<header class="super">
  <div class="banner">
    <!-- <section class="alert">
            <img src="https://cdn-icons-png.flaticon.com/512/599/599502.png" class="image">
        </section> -->
    <!-- <section>
            <h1 class="sapif">SAPIF</h1>
        </section> -->
    <nav class="nav">
      <a routerLink="" class="nav_items"><b>INICIO</b></a>
      <a routerLink="sensors" class="nav_items"><b>SENSORES</b></a>
      <a routerLink="histories" class="nav_items"><b>HISTORIAL</b></a>
      <a routerLink="entities" class="nav_items"><b>ENTIDADES</b></a>
      <a routerLink="suggestions" class="nav_items"><b>SUGERENCIAS</b></a>
      <a routerLink="about" class="nav_items"><b>NOSOTROS</b></a>
    </nav>
  </div>
</header>
