.footer{
    background-image: url("https://thumbs.dreamstime.com/b/panorama-del-bosque-verde-hermoso-en-verano-paisaje-de-la-naturaleza-con-las-flores-salvajes-amarillas-131579660.jpg");
    color: black;
    text-align: center;
    height: 15vh;
    width: 100vw;
}